footer {
	background: $black-text;
	padding: 60px 20px 50px 20px;
	// margin-top: 20px;


	ul {
		margin: 30px 0 0 0;
		padding-left: 0;

		li {
			list-style: none;
			color: $grey-text;
			@include robotoMono;
			font-size: 12px;

			a {
				color: $grey-text;	
				font-weight: 700 !important;	

				&:hover {
					text-decoration: underline;
					color: $grey-text;

				}		
			}

			p {
				font-weight: 400 !important;

				
			}

			.creditos {
				font-style: italic;

				span {
					font-weight: 700 !important;		
					font-style: initial;
				}
			}
		}

	}
}