footer {
	background: $black-text;
	padding: 60px 20px 50px 20px;
	// margin-top: 20px;


	ul {
		margin: 30px 0 0 0;
		padding-left: 0;


		li {
			list-style: none;
			color: $grey-text;
			@include robotoMono;
			font-size: 12px;

			a {
				color: $grey-text;	
				font-weight: 700 !important;	

				&:hover {
					text-decoration: underline;
					color: $grey-text;

				}		
			}

			p {
				font-weight: 400 !important;
				a {
					font-size: 12px;
				}

				span {
					font-style: italic;
					font-weight: 100;
				}

				
			}

			.creditos {
				font-style: italic;

				span {
					font-weight: 700 !important;		
					font-style: initial;
				}
			}
		}

	}

	@media only screen and (max-width: $bk-tablet) {
		ul {
			text-align: center;
		}

		.footer-logos {
			margin-left: 50%;
			-webkit-transform: translateX(-56%);
			-moz-transform: translateX(-56%);
			transform: translateX(-56%);
			width: 270px;
		}
	}
}