.historias {
	.index-hero {
		background: url(../i/historia-img.jpg) no-repeat center center fixed;
		position: relative;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100vw;
		height: 100vh;
		margin-top: -60px;

		.lower-banner {
			position: absolute;
			bottom: 0;
			height: 85px;
			width: 100%;
			background: black;

			h5 {
				@include robotoMedium;
				color: #cccccc;
				font-size: 12px;
				margin-top: 20px;
				margin-bottom: 6px;
			}

			p {
				color: white;
				font-size: 20px;	
				margin: 0;			
				@include robotoRegular;

				span {
					@include robotoHeavy;
				}
			}
		}
	}

	.index-hero-2 {
		position: relative;
		display: grid;
	    grid-template-areas: "column-left" "column-right";
	    grid-template-columns: 100%;
	    grid-template-rows: 1fr;
	    grid-gap: 0;
		width: 100vw;
		/*height: 100vh;*/
		/*margin-top: -60px;*/

		/*.hero-column {
			width: 50vw;
			height: 100vh;
		}*/

		.column-left {
			background: $black-text;
			position: relative;
			height: 345px;
			/*grid-area: columnleft;*/

			.title-holder {
				position: absolute;
				max-width: 568px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;

				h2 {
					@include robotoHeavy;
					font-size: 36px;
					line-height: 50px;
					color: $yellow;
					margin-bottom: 15px;
				}

				h3 {
					@include robotoHeavy;
					font-size: 36px;
					line-height: 44px;
					color: white;
					margin-top: 0px;
					margin-bottom: 15px;
				}

				p {
					@include ptRegular;
					font-style: italic;
					font-size: 20px;
					line-height: 32px;
					color: white;
					margin-left: auto;
					margin-right: auto;
					/*max-width: 410px !important;*/
				}
			}
		}

		.lower-banner {
			position: absolute;
			bottom: 0;
			height: 85px;
			width: 100%;
			background: $black-text;
			border-bottom: #f1f1f1 1px solid;

			h5 {
				@include robotoMedium;
				color: white;
				font-size: 12px;
				margin-top: 20px;
				margin-bottom: 6px;
			}

			p {
				color: white;
				font-size: 20px;	
				margin: 0;			
				@include robotoRegular;

				span {
					@include robotoHeavy;
				}
			}
		}	
	}

	.historia {
		margin-bottom: 60px;
		.sponsor-by {
			display: flex;
			margin-top: 30px;
			p {
				@include ptRegular;
				font-style: italic;
				color: #333333;
				margin-right: 10px;
				font-size: 16px;
			}
			
			img {
				margin-top: 5px;
				margin-bottom: 30px;
			}	
		}
		

		.historia-headline {
			h3 {
				color: $black-text;
				@include robotoHeavy;
				font-size: 40px;
				line-height: 50px;
				span {
					font-size: 36px !important;
					color: $yellow;

				}
			}

			p {
				color: $black-text;
				@include ptRegular;
				font-size: 21px;
				line-height: 36px;
				font-style: italic;
			}
		}

		.share-holder {
			margin-bottom: 30px;
		}

		.first-content {
			margin-top: 60px;

			/*&:before {
				position: absolute;
				content: "";
				height: 1px;
				width: 100px;
				background: #D8D8D8;
				margin-top: -30px;
				
			}*/
		}

		.historia-content {

			blockquote {

				color: #333333;
				margin: 60px auto 60px auto;
				font-style: initial;

				p {
					@include robotoLight;
					font-size: 36px;
					line-height: 52px;
					letter-spacing: -0.2px;
					text-align: center;
				}

				footer {
					@include robotoLight;
					background-color: transparent;
					font-size: 20px;
					padding: 0;
					letter-spacing: -0.2px;
					text-align: center;
					color: #333;
				}
			}

			p {
				@include ptRegular;
				color: $black-text;
				font-size: 21px;
				line-height: 34px;
			}

			.autor-historia {
				@include robotoRegular;
				color: $black-text;
				font-size: 18px;
				margin-bottom: 30px;

				.autor-nombre {
					@include robotoMedium;
				}

				.autor-marca {
					font-style: italic;
				}
			}

		}

		.historia-multimedia {
			margin-top: 60px;
			margin-bottom: 60px;
			margin-left: -20px;
			margin-right: -20px;

			img {
				width: 100%;
				margin: 0;
			}

			p {
				@include ptRegular;
				font-size: 14px;
				line-height: 20px;
				color: $black-text;
				font-style: italic;
				margin: 10px 0;
				
			}
		}
	}

	.home-historias {
		border-top: 2px solid #333333;
		/*padding-top: 62px;*/
		padding-bottom: 40px;
		background: black;

		h2 {
			@include robotoMedium;
			font-size: 18px;
			color: white;
			margin-top: 28px;
			margin-bottom: 60px;
		}
		

		.historias-item {
			padding-bottom: 40px;
			border-bottom: 1px solid $border-grey;
			cursor: pointer;

			.uk-grid>* {
				padding-left: 0;		
			}

			img {
				max-width: 368px;
				width: 100%;
				margin-right: 26px;
			}

			h3 {
				@include robotoBlack;
				margin: 0 0 6px 0;
				font-size: 24px;
				color: $yellow;
			}

			h4 {
				@include robotoHeavy;
				@include transitionFast;
				margin: 0 0 8px 0;
				font-size: 24px;
				line-height: 32px;
				color: white;
			}

			p {
				@include ptRegular;
				font-style: italic;
				margin: 0;
				font-size: 18px;
				line-height: 30px;
				color: white;
			}

			.uk-width-auto {
				.historia-image {
					position: relative;


					&:before {
						@include transitionFast;
						content: '';
						position: absolute;
						width: 100%;
						max-width: 368px;
						height: 100%;
						background: black;
						opacity: 0;
					}
				}
			}
		}
	}


	@media only screen and (max-width: 900px) {
		.index-hero-2 {
			.lower-banner {
				padding-left: 80px;
				@include border-box;
			}
		}

		.historia {
			padding-left: 80px;
			padding-right: 80px;

			.historia-multimedia {
				// margin-right: -80px;
				// margin-left: -80px;

				p {
					padding-left: 80px;
					@include border-box;
				}
			}
		}

		.home-historias {
			padding-left: 80px;
			padding-right: 80px;
		}

		footer {
			padding: 60px 80px 50px 80px
		}
	}

	@media only screen and (max-width: $bk-tablet) {
		.index-hero {

			height: 70vh;
			background-size: 610px;
			background-position: top center;

			.lower-banner {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 20px;

				p {
					font-size: 14px;
					line-height: 18px;
				}	
			}
		}

		.index-hero-2 {
			/*display: block;*/
			grid-template-columns: 100%;
			grid-template-rows: 1fr;
			grid-template-areas: 
			"columnleft"
			"columnright";
			height: 100%;
			margin-bottom: 85px;

			.hero-column {
				width: 100%;

				.title-holder {
					padding: 15px 30px 20px 20px;
					// text-align: left;
					max-width: initial;
					@include border-box;

					h3, h2 {
						font-size: 20px;
						line-height: 24px;
					}

					h2 {
						// float: left;
						// margin-right: 10px;
					}

					p {
						font-size: 14px;
						line-height: 21px;	
					}
				}
			}

			.column-right{
				/*max-height: 320px;*/
				grid-area: columnright;
				/*margin-top: -55px;*/
				z-index: 9;
			}

			.column-left {
				grid-area: columnleft;
				height: 20vh;
			}

			.lower-banner {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 20px;
				bottom: -85px;
				background: $black-text;

				p {
					font-size: 14px;
					color: white;
					line-height: 18px;
				}

				h5 {
					color: white;
				}	
			}
		}

		.historia {

			padding-left: 20px;
			padding-right: 20px;

			.sponsor-by {
				display: flex;
				margin-top: 30px;
				p {
					font-size: 12px;
				}
				
				img {
					width: 78px;
					margin-top: 0;
				}	
			}

			.historia-headline {
				h3 {
					span {
						font-size: 18px !important;
					}

					font-size: 24px !important;
					line-height: 28px;
					font-size: 18px;


				}

				p {
					font-size: 16px;
					line-height: 24px;
				}
			}

			.historia-multimedia {
				p {
					padding-left: 20px;
				}
			}

			.first-content {
				margin-top: 0;
			}

			.historia-content {
				blockquote {

					p {
						
						font-size: 24px;
						line-height: 38px;
					}

					footer {
						font-size: 16px;
					}
				}

				.autor-historia {
					font-size: 14px;
				}

				p {
					font-size: 18px;
					line-height: 30px;
				}
			}
		}

		.home-historias {

			padding-left: 20px;
			padding-right: 20px;

			.historias-item {
				padding: 0px 0px 40px 0px;

				img {
					margin-right: 0;
				}

				.item-holder {
					.uk-width-auto {
						width: 100%;
						img {
							max-width: initial;
							margin-right: 0;
						}
					}
				}

				h3 {
					font-size: 20px;
				}

				h4 {
					font-size: 18px;
					line-height: 22px;
				}

				p {
					font-size: 14px;
					line-height: 22px;
				}
			}
		}

		footer {
			padding: 60px 20px 50px 20px
		}	
	}

	@media only screen and (max-width: $bk-tablet) and (orientation: landscape) {
		
		.historia {
			.historia-multimedia {
				margin-left: -30px;
			    margin-right: -30px;
			}


		}

		.index-hero-2 {
			.column-left {
				height: 35vh;
			}
		}
		
	}

	@media only screen and (max-width: $bk-smart-x-small-landscape) and (orientation: landscape) {
		
		.index-hero-2 {
			.column-left {
				height: 55vh;
			}
		}
		
	}


	@media only screen and (max-width: $bk-smart-large) {
		.index-hero-2 {
			.column-left {
				height: 38vh;
			}

			.hero-column {
				.title-holder {
					padding: 0 30px 0 20px;

					p {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@media only screen and (max-width: $bk-smart-medium) {
		.index-hero-2 {
			.hero-column {
				.title-holder {
					
				}
			}

			.column-left {
				height: 35vh;
			}

		}
	}

	@media only screen and (max-width: $bk-smart-small) {
		.index-hero-2 {

			.hero-column {
				.title-holder {
					padding: 20px 30px 0 20px;
					top: initial;
					left: initial;
					transform: initial;
				}
			}

			.column-left {
				height: 40vh;
			}			
		}
	}

	@media only screen and (max-width: $bk-smart-x-small) {
		.index-hero-2 {

			.column-left {
				height: 57vh;
			}			
		}
	}
}