.home {

	.hero {
		width: 100vw;
		height: calc(100vh - 60px);
		display: inline-block;
		position: relative;	
		// margin-top: -60px;
		margin-bottom: 0px;
		// background-color: black;

		.chevron {
			top: -10px;
			
		svg {
			polyline {
				stroke-width: 3px;
			}
		}

		}

		.hero-black-overlay {
			width: 100vw;
			height: 100%;
			position: absolute;
			z-index: 1;
			background-color: transparent;
			opacity: .6;
			background-image: linear-gradient(-180deg, transparent 0%, #000000 100%);
		}

		.hero-headline {
			position: absolute;
			padding: 0;
			bottom: 30px;
			width: 100%;
			max-width: initial;
			z-index: 2;


			h2 {
				font-size: 64px;
				@include robotoMedium;
				line-height: 66px;
				color: $white;
				text-shadow: 0 1px 1px rgba(0,0,0,0.5);

				span {
					position: relative;
					// &:after {
					// 	content: '';
					// 	position: absolute;
					// 	bottom: 10px;
					// 	left: 0;
					// 	width: 100%;
					// 	height: 2px;
					// 	background: $yellow;
					// }
				}
			}

			.headline-bold {
				@include robotoHeavy;
			}

			.headline-down {
				margin-top: 30px;
				color: $yellow;
			}
		}

		.hero-placeholder {
			position: absolute;
		    bottom: 10px;
		    right: 10px;
		    background: black;
		    border-radius: 5px;
		    height: 30px;
		    opacity: .5;
		    padding: 10px 20px 0px 20px;

			p {
				font-family: 'PT Serif', serif;
				font-weight: 400;
				font-size: 14px;
				color: white;
				margin: 0;


				span {
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
				}
			}
		}

		ul {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			display: inline-block;
			position: absolute;

			li {
				width: 100vw;
				height: 100%;
				list-style: none;
				position: absolute;
				margin: 0;
				opacity: 0;
				// padding-top: 56.25%;
				background-position: center center !important;


			}
		}

	}
	.index-hero {
		
		position: relative;
		 background: url(../i/home-img.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100vw;
		height: 100vh;
		margin-top: -60px;

		.hero-headline {
			position: absolute;
			padding: 0;
			bottom: 60px;
			width: 100%;
			max-width: initial;


			h2 {
				font-size: 64px;
				@include robotoMedium;
				line-height: 60px;
				color: $white;

				span {
					position: relative;
					&:after {
						content: '';
						position: absolute;
						bottom: 10px;
						left: 0;
						width: 100%;
						height: 2px;
						background: $yellow;
					}
				}
			}

			.headline-bold {
				@include robotoHeavy;
			}

			.headline-down {
				margin-top: 30px;
				color: $yellow;
			}
		}
		
	}	

	.home-intro {

		margin-bottom: 60px;

		.sponsor-by {
			display: flex;
			margin-top: 30px;
			p {
				@include ptRegular;
				font-style: italic;
				color: #333333;
				margin-right: 10px;
				font-size: 16px;
			}
			
			img {
				margin-top: 5px;
				margin-bottom: 30px;
			}	
		}

		p {
			@include robotoRegular;
			font-size: 19px;
			line-height: 32px;
			color: $black-text;
			margin: 0;
		}
	}

	.home-historias {
		border-top: 2px solid #333333;
		padding-top: 62px;
		padding-bottom: 40px;
		

		.historias-item {
			padding-bottom: 40px;
			border-bottom: 1px solid #E7E7E7;
			cursor: pointer;

			.uk-grid>* {
				padding-left: 0;		
				margin-top: 0;
			}

			img {
				max-width: 368px;
				width: 100%;
				margin-right: 26px;
			}

			h3 {
				@include robotoBlack;
				margin: 0 0 6px 0;
				font-size: 24px;
				color: $yellow;
			}

			h4 {
				@include robotoHeavy;
				margin: 0 0 8px 0;
				font-size: 24px;
				line-height: 32px;
				color: $black-text;
			}

			p {
				@include ptRegular;
				font-style: italic;
				margin: 0;
				font-size: 18px;
				line-height: 30px;
				color: $black-text;
			}

			.uk-width-auto {
				.historia-image {
					position: relative;


					&:before {
						@include transitionFast;
						content: '';
						position: absolute;
						width: 100%;
						max-width: 368px;
						height: 100%;
						background: black;
						opacity: 0;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 900px) {
		.hero {
			height: calc(100vh - 120px);
		}
	}

	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
		.hero {
			height: calc(100vh - 120px);
		}
	}

	@media only screen and (max-width: $bk-tablet) {

		.hero {
			.hero-headline {
				padding-left: 20px;
				bottom: 15px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

				.chevron {
					margin-top: -25px;
					margin-left: -5px;

					
				}

				h2 {
					font-size: 38px;
					line-height: 42px;

					span {
						&:after {
							bottom: 2px;
						}
					}
				}
			}
		}

		.index-hero {

			height: 55vh;

			.hero-headline {
				padding-left: 20px;
				bottom: 0px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

				.chevron {
					// display: none;
				}

				h2 {
					font-size: 30px;
					line-height: 32px;

					span {
						&:after {
							bottom: 2px;
						}
					}
				}
			}
		}

		.c-eig-col {

		}

		.home-intro {
			.sponsor-by {
				display: flex;
				margin-top: 30px;
				p {
					font-size: 12px;
				}
				
				img {
					width: 78px;
					margin-top: 8px;
				}	
			}
		}

		.home-historias {

			margin-left: 20px;
			margin-right: 20px;

			.historias-item {
				padding: 0px 0px 40px 0px;

				.item-holder {
					.uk-width-auto {
						width: 100%;
						// margin-bottom: -20px;
						img {
							max-width: initial;
							margin-right: 0;
						}
					}
				}

				h3 {
					margin-top: 10px;
				}
			}
		}		
	}

	@media only screen and (max-width: $bk-smart-large) {
		.hero {
			height: 80vh;

			margin-top: 0;
			margin-bottom: -10px;

			h2 {
				font-size: 38px;
				line-height: 40px !important;

				span {
					&:after {
						bottom: 2px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: $bk-smart-medium) {
		.hero {
			.hero-headline {
				padding-left: 20px;
				// bottom: 10px !important;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

				.chevron {
					// display: none;
				}

				// h2 {
				// 	font-size: 28px;
				// 	line-height: 32px;

				// 	span {
				// 		&:after {
				// 			bottom: 2px;
				// 		}
				// 	}
				// }
			}

			
		}
	}


}